{% extends "base.html" %}
{% load static %}

{% block title %} Editar Producto {% endblock %}

{% block content %}
<div class="container">
    <h1>Editar Producto</h1>
    <h2>Datos Actuales del Producto:</h2>
    <p><strong>Nombre:</strong> {{ producto.nombre }}</p>
    <p><strong>Precio:</strong> {{ producto.precio }}</p>
    <p><strong>Cantidad:</strong> {{ producto.cantidad }}</p>
    <hr>
    <form id="editarForm" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_nombre" class="form-label">Nombre:</label>
            <input type="text" name="nombre" id="id_nombre" value="{{ producto.nombre }}" placeholder="{{ producto.nombre }}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="id_precio" class="form-label">Precio:</label>
            <input type="text" name="precio" id="id_precio" value="{{ producto.precio }}" placeholder="{{ producto.precio }}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="id_cantidad" class="form-label">Cantidad:</label>
            <input type="text" name="cantidad" id="id_cantidad" value="{{ producto.cantidad }}" placeholder="{{ producto.cantidad }}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>

<!-- Scripts de Bootstrap (opcional, si necesitas funcionalidades de JavaScript de Bootstrap) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<!-- Script de lógica del formulario -->
<script>
    // Obtener todos los campos de entrada del formulario
    const inputs = document.querySelectorAll('input[type="text"]');
    
    // Para cada campo de entrada
    inputs.forEach(input => {
        // Establecer el valor inicial como el placeholder
        input.value = input.placeholder;
        // Al hacer foco en el campo, eliminar el valor inicial (placeholder)
        input.addEventListener('focus', function() {
            this.value = '';
        });
        // Si el campo está vacío al perder foco, restaurar el valor inicial
        input.addEventListener('blur', function() {
            if (this.value === '') {
                this.value = this.placeholder;
            }
        });
    });
</script>
{% endblock %}
